 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                        <p><b><i>Curiosity killed the cat, but I'm not a cat.</i></b> Our world is comprised of many systems; whether it be social constructs, political systems, economic behavior, or the array of protocols that make up our modern network infrastructure- everything in life can be boiled down to a system. My goal is to learn, understand, and utilize these systems to make a positive impact on the world around me.</p>
                </div>
                <div class="col-lg-4">
                    <p>Information Technology is kind of my wheelhouse. I've been tinkering with computers for as long as I can remember, and a lot of subsequent knowledge has come from these experiences. I am currently a Computer Science student at the University of Colorado Boulder. I'm always looking for new opportunities to apply my skills- I encourage you to reach out to me if I can be of use to your project or company. Let's build a brighter future together.</p>
                </div>
                <div class="text-center">
                    <p>Stay curious, friend.</p>
                </div>
            </div>
        </div>
    </section>
